.checkout-login-container {
  display: table;
  margin: 0 auto;

  max-width: 1200px;

  .form-container {
    @media (max-width: 768px) {
      margin-bottom: 40px;
    }
  }

  @media (max-width: 768px) {
    display: block;
  }

  >div {
    display: table-cell;
    width: 50%;

    @media (max-width: 768px) {
      display: block;
      width: 100%;
    }
  }

  .row-content-container {
    margin: 0 0 20px;

    @media (max-width: 768px) {
      margin: 0 auto 20px;
    }
  }

  .login-container {
    padding-right: 60px;

    @media (max-width: 768px) {
      padding-right: 0;
    }
  }

  .form-label {
    margin-bottom: 12px;
  }

  .form-helper {
    font-size: 17px;
    margin-bottom: 15px;

    @media (max-width: 768px) {
     text-align: center;
    }
  }

  .checkout-options-container {

    @media (max-width: 768px) {
      text-align: center;
    }
  }

  .checkout-option1-container {
    margin-bottom: 70px;

    @media (max-width: 768px) {
      margin-bottom: 40px;
    }
  }

  .checkout-option-description {
    font-size: 14px;
    color: $metal;
    line-height: 1.4;
    margin-bottom: 25px;

    @media (max-width: 490px) {
      margin: 0 20px 25px;
    }

    @media (max-width: 768px) {
      margin: 0 45px 25px;
    }
  }

  .buttons-container {
    display: table;
    width: 100%;

    >div {
      display: table-cell;

      &:first-of-type {
        width: 100%;

        @media (max-width: 768px) {
          width: 50%;
        }
      }
    }

    @media (max-width: 560px) {
      //margin: 0 auto;
      width: 100%;
    }

    @media (max-width: 768px) {
      margin: 0 auto;
      width: 80%;
    }
  }

  .button-container {
    white-space: nowrap;
    text-align: left;

    @media (max-width: 768px) {
      text-align: center;
    }
  }

  .forgot-password {
    @include default-button($blue, $white, $soapstone, $soapstone);

    &:hover {
      color: $darkSlate;
    }
  }
}
