/// Default components

.default {
  display: flex;
  min-height: 100vh;
  background: $default-background-color;

  &_content {
    margin: auto;
    font-size: 1.75rem;
    text-transform: uppercase;
    color: $default-font-color;
  }
}

.gulp {
  margin-top: -35%;
  margin-left: 30%;
}
